<div class="container">
  <div class="box">
    <%= simple_form_for @map, html: { multipart: true} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :attachment%>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
