<div class="container">

    <div class="row">
        <div class="box">
        	<div class="col-lg-4 list-group">

				<ul class="nav nav-pills nav-stacked list-group">
				    <% @maps.each do |m| %>
				        <li><a class="list-group-item" data-toggle="tab" href="#<%= m.title %>"><%= m.title %></a></li>
				    <% end %>
			    </ul>

			</div>

            <div class="col-lg-8 text-center tab-content">

				<% @maps.each do |m| %>
			        <div id="<%= m.title %>" class="tab-pane fade">
				        <h1><%= m.title %></h1>
				        <div class="map" style="margin: auto;"></div> 
				    </div>
		        <% end %>			

            </div>
        </div>
    </div>

</div>
<!-- /.container -->


<script>
// Javascript

$('.map').tinyMap({
    'center': '台北市信義區台北101',
    'zoom'  : 14,
     'marker': [
         <% i = 0 %>
        <% Map.last.data.each do |data| %>
            {
            'addr': ['<%= data.lat %>', '<%= data.lng %>'],
            'text': '<strong><%= data.label %></strong>',
            'animation': 'DROP'
        },
        <% end %>
    ]
    });

$(document).ready(function () {
  $('.nav-pills a:first').tab('show')
});
</script>
