<div class="brand">Mapper</div>
<div class="subtitle">Visualize your data to fancy maps.</div>

<!-- Navigation -->
<nav class="navbar navbar-default" id="navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Mapper</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="nav">
                <li>
                    <%= link_to("Home", root_path) %>
                </li>
                <li>
                    <%= link_to("Maps", showmap_path) %>
                </li>
                <li>
                    <%= link_to("Build", new_map_path) %>
                </li>
                <li>
                    <%= link_to("Team", about_us_path) %>
                </li>
                <li>
                    <%= link_to("Demo", demo_index_path) %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
